/*
   New Perspectives on HTML and XHTML 5th Edition
   Tutorial 3
   Tutorial Case

   Sunny Acres Style Sheet
   Author:			Truc Huynh
   Date:   

   Filename:         style.css
   Supporting Files: none

*/


body 	
		{
			background-position: right top;
			font-family: Arial, Helvetica, sans-serif
			}

h1 {
		font-size: 40em;
		letter-spacing: 0.4em;
		text-indent: 1em
}

h2 		{
			font-size: 20em;
			letter-spacing: 0.4em; 
			text-indent: 1em
			}
			
h3 		{
			width: 20em; 
			padding-left: 1em;
			}
h2, h3 
		{	color: white; 
			background-color: red}
address 
		{
			text-align: center;
			font: normal small-caps 0.8em sans-serif;
			border-top: 0.7em double black;
			padding-top: 1em;
			margin-top: 1em;
			}

#decor_line
		{
			border-top: 0.5em double black;
			padding-top: 1em;
			margin-top	: 2em;
		}		
a 			
		{
			color: black;
			display: block; 
			margin: 0.3em;
			text-decoration: none;	
			}
			
hr		
		{
			width: 50em;
			border: 2px;
			color: black;
		}
	

		
#promoimage 
		{
			float: right;
			margin: 0em 0em 1em 1em;
			}
			
#outer 	{
			width: 50em;
			}
			
#links 	
		{
			float: left; 
			width: 10em; 
			font: 7;
			background-color: black;
			border-style: outset; 
			border-width: 0.2em;
			border: 9px double red;

			}
		
#inner {
			margin-left: 12em; 
			padding-left: 1em;
			border-left: 0.3em solid black;
			text-decoration: none;	
			}
			
#box			
		{
			display:block;
			font-size: 10pt;
			background-color: floralwhite;
			border: 2px black; 
			border-style: solid;
			text-decoration: none;
			text-align: center;			
			margin-top: 10px;
			margin-left: 5px;
			margin-right: 5px;
			margin-bottom: 10px;
		}

#front_image {
	text-align: center;
}
		
#h2_header
			{
				text-align: center;
				text-transform: uppercase;
			}

#bottom_image{
				border: 5px solid red; 
				text-align : center ;
				background-color: black;

}