/*
   Author:			Truc Huynh
   Date:   
   Filename:         style.css
   Supporting Files: none
*/

h1 {
	color: #342B09;
	margin: 4px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 7em;
	font-weight: 900;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: underline,overline;
}

h3 {
	display: block;
	padding-left: 4em;
	padding-right: 4em;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	letter-spacing: 0.4em;
	text-indent: 1em;
	width: auto;
	color: white;
	background-color: red;
	text-align: center;
}

body {
	background-color: white;
	font-size: 10px;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 20px;
	margin-right: 20px;
}

hr {
	width: 120em;
	border: 2px;
	color: black;
}

#decor_line {
	border-top: 0.5em double black;
	padding-top: 1em;
	margin-top: 2em;
}		

#editForm {
	display: block;
	font-size: 10pt;
	background-color: floralwhite;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

#design {
	display: block;
	font-size: 10pt;
	background-color: floralwhite;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

table.reference th {
	height: 19%;
	border: 1px solid gray;
	vertical-align: top;
	font-size: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}	

.serif {
	font-family: "Times New Roman", Times, serif;
}

.sansserif {
	font-family: Arial, Helvetica, sans-serif;
}

.monospace {
	font-family: "Lucida Console", Courier, monospace;
}

.line {
	border: 1.5px solid #B08A03;
	padding-left: 4em;
	padding-right: 4em;
}

.design {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #B08A03;
	font-size: large;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}